$font-family-roboto: "Roboto", "Arial", sans-serif;
$font-family-caveat: "Caveat", "Roboto", "Arial", sans-serif;

$colorFocus: #2d7dff;
$colorWhite: #ffffff;
$colorYellow: #fffba7;
$colorOrange: #f5b47e;
$colorGreen: #b9fa83;
$colorBlue: #7eb3f9;
$colorPurple: #d49cf7;
$colorGray: #e9e9e9;
$colorRed: #ff7280;
$colorBlack: #0a0a0a;
$colorLightBlue: #17a2b8;

$controlBorderRadius: 4px;
